* {
  font-family: "DepartureMono Nerd Font" !important;
}

#urlbar-results > .urlbarView-row[type="search_engine"]:first-of-type {
  display: none !important;
}

@media (-moz-bool-pref: "zen.view.compact") {
  #zen-appcontent-wrapper,
  .browserSidebarContainer {
    border: none !important;
    border-radius: 0 !important;
    --zen-element-separation: 0px !important;
  }
}
